[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint-django = "*"
pylint = "*"
django-extensions = "*"
django-rest-framework = "*"
black = "*"
djangorestframework-jsonapi = "*"
djangorestframework = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.11"
