[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint-django = "*"
pylint = "*"
django-extensions = "*"
black = "*"
djangorestframework-jsonapi = "*"
djangorestframework = "*"
django-filter = "*"
mysqlclient = "*"
djangorestframework-api-key = "*"
djangorestframework-simplejwt = "*"
python-magic-bin = "*"
openai = "*"

[dev-packages]
werkzeug = "*"

[requires]
python_version = "3.11"
